 * {
     margin: 0px;
     padding: 0px;
 }
 
 @font-face {
     font-family: 'leanote';
     src: url('fonts/leanote.eot?h0qsb9');
     src: url('fonts/leanote.eot?h0qsb9#iefix') format('embedded-opentype'), url('fonts/leanote.ttf?h0qsb9') format('truetype'), url('fonts/leanote.woff?h0qsb9') format('woff'), url('fonts/leanote.svg?h0qsb9#leanote') format('svg');
     font-weight: normal;
     font-style: normal;
 }
 
 .header {
     width: 100%;
     height: 50px;
     background: #25313e;
 }
 
 .nav-header {
     position: relative;
     float: left;
 }
 
 .nav-brand {
     color: #adbece;
     text-align: center;
     font-size: 14px;
     line-height: 50px;
     display: inline-block;
     padding: 0 15px;
     font-weight: bold;
 }
 
 .logo {
     font-family: 'leanote' !important;
     speak: none;
     font-style: normal;
     font-weight: normal;
     font-variant: normal;
     text-transform: none;
     -webkit-font-smoothing: antialiased;
 }
 
 .logo::before {
     line-height: 38px;
     font-size: 28px;
     content: "\e901";
     line-height: 1;
     margin-top: 5px;
     display: inline-block;
     vertical-align: top;
 }